.app-title {
  text-align: center;
  width: 100%;
}

.scroll-in-nav {
  position: fixed;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.scroll-in-nav.scroll-hidden {
  -webkit-transform: translateY(-70px);
  -ms-transform: translateY(-70px);
  transform: translateY(-70px);
}

.scroll-in-nav.scrolled-in {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
