#img-caption {
  margin: 1em 0 2em 0;
}

#img-div {
  text-align: center;
  margin-top: 200px;
}

#header {
  display: block;
  margin-bottom: 16em;
}

.profile-image {
  display: block;
  width: 50vw;
  max-width: 280px;
  height: auto;
  margin: auto;
  border-radius: 50%;
  border: 4px solid #167846;
}
